.btn {
    max-width: 100%;
    width: 284px;
    height: 60px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    color: $white;
    background: $red;
    border: 1px solid $red;
    border-radius: 36px;
    &:hover {
        background: #cb0c45;
        border-color: #cb0c45;
    }
}

.btn-white-transparent  {
    background: transparent;
    border-color: $white;
    &:hover {
        color: $dark;
        background: $white;
        border-color: $white;
    }
}