body:has(.mobile-menu.active) {
    overflow: hidden;
    .header {
        position: fixed;
        z-index: 9999;
    }
    .mobile-menu__btn {
        .hamburger {
            display: none;
        }
        .close {
            display: block;
        }
    }
    .home__inner {
        opacity: 0;
    }
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    padding: 35px 20px;
    color: $white;
    background: linear-gradient(104.93deg, rgba(122, 122, 122, 0.1) 1.86%, rgba(122, 122, 122, 0) 104.73%);
    backdrop-filter: blur(35px);
    box-shadow: 0 4px 4px 0 rgba(50, 50, 50, 0.15);
    transition: all .4s;
    &.active {
        visibility: visible;
        opacity: 1;
    }
    &__btn {
        color: #fff;
        .close {
            display: none;
        }
    }
    &__content {
        padding-top: 97px;
    }
    .main-menu {
        li:not(:last-child) {
            margin-bottom: 30px;
        }
        a {
            text-transform: uppercase;
            font-size: 24px;
            line-height: 28px;
            font-weight: bold;
            text-underline-position: under;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__footer {
        align-self: center;
        margin-top: auto;
        text-align: center;
    }
    &__socials {
        display: flex;
        gap: 15px;
        a {
            color: $white;
            &:hover {
                color: #B1B1B1;
            }
        }
    }
    &__privacy-policy {
        display: inline-block;
        margin-top: 25px;
        line-height: 18px;
        color: #B1B1B1;
        text-underline-position: under;
        &:hover {
            text-decoration: underline;
        }
    }
    @media (min-width: $ds) {
        &__btn {
            display: none;
        }
    }
}