<div class="container">

    <h2 class="h2">Where You Can Find Us?</h2>

    <div class="footer__inner">

        <div class="footer__item">
            <h3 class="h3">Office 1</h3>

            <ul class="footer__contacts">
                <li>
                    <span>
                        <svg width="16" height="16">
                            <use href="/images/icons/icons.svg#map"></use>
                        </svg>
                        Lasnamae linnaosa, Pae tn 25-47
                    </span>
                </li>
                <li>
                    <a href="mailto:username@mail.com" rel="nofollow">
                        <svg width="16" height="16">
                            <use href="/images/icons/icons.svg#mail"></use>
                        </svg>
                        username@mail.com
                    </a>
                </li>
                <li>
                    <a href="tel:+3125789075" rel="nofollow">
                        <svg width="16" height="16">
                            <use href="/images/icons/icons.svg#phone"></use>
                        </svg>
                        +3125789075
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer__item">
            <h3 class="h3">Office 2</h3>

            <ul class="footer__contacts">
                <li>
                    <span>
                        <svg width="16" height="16">
                            <use href="/images/icons/icons.svg#map"></use>
                        </svg>
                        Lasnamae linnaosa, Pae tn 25-47
                    </span>
                </li>
                <li>
                    <a href="mailto:username@mail.com" rel="nofollow">
                        <svg width="16" height="16">
                            <use href="/images/icons/icons.svg#mail"></use>
                        </svg>
                        username@mail.com
                    </a>
                </li>
                <li>
                    <a href="tel:+3125789075" rel="nofollow">
                        <svg width="16" height="16">
                            <use href="/images/icons/icons.svg#phone"></use>
                        </svg>
                        +3125789075
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer__item">
            <h3 class="h3">Socials</h3>

            <ul class="footer__socials">
                <li>
                    <a href="#" rel="nofollow" target="_blank">
                        <svg width="24" height="24">
                            <use href="/images/icons/icons.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" rel="nofollow" target="_blank">
                        <svg width="24" height="24">
                            <use href="/images/icons/icons.svg#twitter"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" rel="nofollow" target="_blank">
                        <svg width="24" height="24">
                            <use href="/images/icons/icons.svg#linkedin"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" rel="nofollow" target="_blank">
                        <svg width="24" height="24">
                            <use href="/images/icons/icons.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
            </ul>

            <a href="#" class="footer__privacy-policy">Privacy Policy</a>
        </div>
    </div>
</div>