<div class="mobile-menu">
    <div class="mobile-menu__content">
        <nav class="main-menu">
            <ul>
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#our-partners">Our Pertners</a>
                </li>
                <li>
                    <a href="#our-team">Our Team</a>
                </li>
                <li>
                    <a href="#contact-us">Contact Us</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="mobile-menu__footer">
        <ul class="mobile-menu__socials">
            <li>
                <a href="#" rel="nofollow" target="_blank">
                    <svg width="30" height="30">
                        <use href="/images/icons/icons.svg#facebook"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" rel="nofollow" target="_blank">
                    <svg width="30" height="30">
                        <use href="/images/icons/icons.svg#twitter"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" rel="nofollow" target="_blank">
                    <svg width="30" height="30">
                        <use href="/images/icons/icons.svg#linkedin"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" rel="nofollow" target="_blank">
                    <svg width="30" height="30">
                        <use href="/images/icons/icons.svg#instagram"></use>
                    </svg>
                </a>
            </li>
        </ul>

        <a href="#" class="mobile-menu__privacy-policy">Privacy Policy</a>
    </div>
</div>