/** Базовые анимации: */
@import 'keyframes';

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.page {
    position: relative;
    flex: 1 1 auto;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @media (min-width: $ds) {
        width: 1140px;
        padding: 0;
    }
    @media (min-width: 1366px) {
        width: 1280px;
    }
    @media (min-width: 1440px) {
        width: 1340px;
    }
    @media (min-width: 1535px) {
        width: 1440px;
    }
    @media (min-width: $dm) {
        width: 1600px;
    }
    @media (min-width: $dl) {
        width: 1780px;
    }
    @media (max-width: 359px) {
        padding: 0 10px;
    }
}

@media (min-width: $tv) {
    .hide-tablet {
        display: none;
    }
}
@media (max-width: $mobile) {
    .hide-mobile {
        display: none;
    }
}

@media (max-width: $device) {
    .hide-device {
        display: none;
    }
}