/* ТИПОГРАФИЯ */

.h1, .h2 {
    margin-bottom: 30px;
    font-weight: 700;
}

.h1 {
    font-size: 34px;
    line-height: 39px;
    color: $white;
}

.h2 {
    font-size: 24px;
    line-height: 28px;
}

.h3 {
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
}

@media (min-width: $ds) {
    .h1 {
        margin-bottom: 40px;
        font-size: 72px;
        line-height: 83px;
    }
    .h2 {
        margin-bottom: 90px;
        font-size: 54px;
        line-height: 62px;
    }
}