// breakpoint

$sx: 320px;
$sm: 375px;
$mobile: 767px;
$tv: 768px;
$th: 992px;
$device: 1199px;
$ds: 1200px;
$dm: 1700px;
$dl: 1900px;

// font
$font-family: "Ubuntu", sans-serif;
$font-size: 16px;
$line-height: 22px;
$font-weight: 300;


// colors

$white: #fff;
$red: #FF0B53;
$dark: #101020;

$text-color: #3D3D3D;

$bg-dark: #17191D;
$bg-gray: #F8F8F8;
